html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

li {
list-style-type: none; /* Убираем маркеры */
}
ul {
padding-left: 0; /* Сдвигаем список влево */
}


.sec2 {
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
}

table {
    table-layout:fixed;
}

.section-pag {
    flex: 1;
}

.pag {
    align-self: center;
    flex: 0;
}

th {
    height: 50px;
    width: 65px;
    word-break: break-all;
}

