{% url 'cities:home' as cities_home_url %}
{% url 'trains:home' as trains_home_url %}
{% url 'routes:home' as routes_home_url %}
{% url 'charts:home' as charts_home_url %}
{% url 'home' as home_url %}
{% url 'cities:create' as cities_create_url %}
{% url 'trains:create' as trains_create_url %}
{% url 'routes:create' as routes_create_url %}

<nav class="navbar navbar-expand-lg justify-content-center bg-body-tertiary" data-bs-theme="dark">
    <div class="navbar">
      <a class="navbar-brand {% if request.path == home_url %} active {% endif %}" href="{% url 'home' %}">Домой</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == cities_home_url %} text-bg-primary {% endif %}" aria-current="page" href="{% url 'cities:home' %}">Города</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == trains_home_url %} text-bg-primary {% endif %}" href="{% url 'trains:home' %}">Поезда</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == routes_home_url %} text-bg-primary {% endif %}" href="{% url 'routes:home' %}">Маршруты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == charts_home_url %} text-bg-primary {% endif %}" href="{% url 'charts:home' %}">Графики</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item {% if request.path == cities_create_url %} text-bg-primary {% endif %}" href="{% url 'cities:create' %}">Создать город</a></li>
              <li><a class="dropdown-item {% if request.path == trains_create_url %} text-bg-primary {% endif %}" href="{% url 'trains:create' %}">Создать поезд</a></li>
              <li><a class="dropdown-item {% if request.path == routes_create_url %} text-bg-primary {% endif %}" href="{% url 'routes:create' %}">Создать маршрут</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>