{% extends 'charts/base.html' %}

{% block content %}

<form action="{% url 'charts:add_chart' %}" method="post"> {% csrf_token %}
    <input type="hidden" name="1" value="{{lst}}">
    {{lst}}
<table>
    <thead>
        <tr>
            <th>Сотрудник</th>
            {% for i in qs_lst %}
            <th>{{i|date:"SHORT_DATE_FORMAT"}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for key, val in lst.items %}
        <tr>
            <td><a href="{% url 'charts:charts_detail' post_str=key date_str=date_for_detail %}">{{key}}</a></td>
            {% for k, v in val.items %}
                <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
    <button type="submit">ДАвай давай</button>
</form>

<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>

{% endblock %}