{% extends 'cities/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row justify-content-lg-center">
        <div class="col-md-8">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <div>{{ message }}</div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <div>{{ message }}</div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>



<div class="container-lg text-center section">
    <div class="row justify-content-lg-center section-pag">
        <div class="col-lg-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Название маршрута</th>
              <th scope="col">Из города</th>
              <th scope="col">В город</th>
              <th scope="col">Общее время в пути</th>
            </tr>
          </thead>
          <tbody>
            {% for rout in qs %}
            <tr>
              <td><a href="#">{{city}}</a></td>
                <td>{{rout.from_city}}</td>
                <td>{{rout.to_city}}</td>
                <td>{{rout.travel_time}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>

        </div>
    </div>

    {% include 'includes/pagination.html' %}

</div>


{% endblock %}